flows/Node-RED-Tello-VideoStream-Starter.json
[{"id":"f851689f.3a243","type":"tab","label":"Tello Video Stream","disabled":false,"info":""},{"id":"73258a83.41646c","type":"inject","z":"f851689f.3a243","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":90,"y":180,"wires":[["dab181e3.0f9868"]]},{"id":"8d111f1e.c1bab","type":"ui_template","z":"f851689f.3a243","group":"7e48a95f.c85908","name":"Display Tello Video Stream","order":0,"width":"14","height":"12","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":630,"y":180,"wires":[[]]},{"id":"dab181e3.0f9868","type":"template","z":"f851689f.3a243","name":"Create an iframe for Tello Video Stream","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"http://localhost:3000\" height=590px width=700px></iframe>","x":330,"y":180,"wires":[["8d111f1e.c1bab"]]},{"id":"90aac688.0c4b2","type":"comment","z":"f851689f.3a243","name":"Run 'npm start' in <path>/Node-RED-DroneViewer/telloview","info":"","x":250,"y":120,"wires":[]},{"id":"11b296a4.926889","type":"comment","z":"f851689f.3a243","name":"git clone https://github.com/johnwalicki/Node-RED-DroneViewer.git","info":"","x":270,"y":40,"wires":[]},{"id":"5a46018f.a43cb","type":"comment","z":"f851689f.3a243","name":"Run 'npm install' in <path>/Node-RED-DroneViewer/telloview","info":"","x":250,"y":80,"wires":[]},{"id":"7e48a95f.c85908","type":"ui_group","z":"","name":"Tello Video Stream","tab":"7c742983.d3eb08","order":1,"disp":true,"width":"14","collapse":false},{"id":"7c742983.d3eb08","type":"ui_tab","z":"","name":"Video","icon":"dashboard","order":1,"disabled":false,"hidden":false}]